#gitignore file#
node_modules
csv
getAreaInfo.js
server.js
versions.js
application.py
sortout_methods.py
.idea
Pokemon-ZingChart-173d4d458258.json
index_copy.html
main_copy.html
bezier.js
index_copy.html
main_copy.css
npm-debug.log
__webpack.config.js