body
{
    font-family: 'Exo 2', sans-serif;
    background-color: #04171E;
    margin: 0;
    font-size: 16px;
    font-size: 1.25vmin;
}

#page_flex {
    width: 100vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

#REGION_PAGE {
    background-color: transparent;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    box-sizing:border-box;
    text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.topVisualizations{
    background: #116381; /* Old browsers */ /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #116381 0%,#005d7f 100%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg,  #116381 0%,#005d7f 100%);
    background: linear-gradient(135deg,  #116381 0%,#005d7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#MAP {
    width:50%;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    vertical-align: middle;
    overflow: hidden;
    box-sizing:border-box;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
#selectDataVisualizationPreferences
{
    text-align: left;
    width:100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 0% 3% 0% 3%;
    margin: 3% 0% 3% 0%;
}
#selectDataVisualizationPreferencesHeader
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    width:100%;
    color: #fff;
    box-sizing: border-box;
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 0% 3% 0% 3%;
    margin: 3% 0% 3% 0%;
}
.textHeader
{
    margin-left:auto;
    display: inline-block;
    font-size: 16px;
    font-size: 1.75vmin;
}
.largerLabel {
    display: inline-block;
    margin-right: 4px;
}
#wrapMap
{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    padding: 0;
    box-sizing: border-box;
}
#wrapper {
    border-radius: 0.5vmin; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg,  #0b4054 0%,#0a3c4e 100%);
    background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    /* whatever width you want */
    display: inline-block;
    position: relative;
}
#wrapper:after {
    padding-top: 50%;
    /* 16:9 ratio */
    display: block;
    content: '';
}

#SHAPESDIV {
    border-radius: 0.5vmin;
    width: 100%;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#CHARTDIV {
    width: 100%;
    height: 100%;
}
#CHART {
    margin-left: 0.5%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.5vmin;
    -webkit-box-flex:2;
    -ms-flex:2;
    flex:2;
    max-height:100%;
    width:50%;
}
p {
    margin: 0;
}


#loading {
    z-index: 10;
    width: 5%;
    position: absolute;
    margin:7%;
    padding:0.5%;
    bottom : 0;
    left:40%;
    background-color: #082F3D;
    opacity: 0.3;
    border-radius: 50%;
    visibility: hidden;
}

select{
    background-color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

select:disabled {
    opacity: 0.5;
}

#select_Region{
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    font-size: 1.75vmin;
    padding: 0;
    background-color: transparent;
    margin: 0;
    border-style: none;
    width:auto;
    margin-right: auto;
}

#select_Region:focus {
    outline:none;
}

#HEADER
{
    height: 15%;
    width: 100%;
    flex: 0;
    flex-basis: auto;
    display: block;
}

#HEADER_text
{

}

#POKEMON_PAGE {
    background-color: transparent;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 50%;
    width: 100%;
    box-sizing:border-box;
    padding: 0.5% 1% 1% 1%;
    text-align: center;
    vertical-align: middle;
    display: -webkit-box;
    display: -ms-flexbox;
    /*display: flex;*/
    display: none;
}

#bottomElts {
    display: inline-block;;
    width: 100%;
    border-radius: 0.5vmin;
    text-align: left;
    overflow: hidden;
    box-sizing:border-box;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    height: initial;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#116381+0,005d7f+100 */
    background: #116381; /* Old browsers */ /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #116381 0%,#005d7f 100%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg,  #116381 0%,#005d7f 100%);
    background: linear-gradient(135deg,  #116381 0%,#005d7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#pokemon_header {
    padding: 3%;
    box-sizing:border-box;
    -webkit-box-flex:0;
    -ms-flex:0;
    flex:0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    text-align: center;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: 10%;
    width:100%;
    background-color: #0B4153;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    margin: 0;
    max-height:10%;
    border-radius: 0.5vmin 0.5vmin 0 0;
}

#pokemon_header > p {
    padding: 0;
    padding-left: 5px;
    display: inline-block;
    vertical-align: middle;
}
#pokemon_header_types {
    margin-left: 3%;
    display: inline-block;
    width:100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.types {
    display: inline-block;
    border-width: 1px;
    border: solid;
    border-radius: 15px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 2px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0.75%;
    max-height:100%;
}
#normal {
    background-color: #A8A878;
    border-color: #C6C6A7;
}
#fire {
    background-color: #F08030;
    border-color: #9C531F;
}
#water {
    background-color: #6890F0;
    border-color: #445E9C;
}
#electric {
    background-color: #F8D030;
    border-color: #A1871F;
}
#grass {
    background-color: #78C850;
    border-color: #4E8234;
}
#ice {
    background-color: #98D8D8;
    border-color: #638D8D;
}
#fighting {
    background-color: #C03028;
    border-color: #7D1F1A;
}
#poison {
    background-color: #A040A0;
    border-color: #682A68;
}
#ground {
    background-color: #E0C068;
    border-color: #927D44;
}
#flying {
    background-color: #A890F0;
    border-color: #6D5E9C;
}
#psychic {
    background-color: #F85888;
    border-color: #A13959;
}
#bug {
    background-color: #A8B820;
    border-color: #6D7815;
}
#rock {
    background-color: #B8A038;
    border-color: #786824;
}
#ghost {
    background-color: #705898;
    border-color: #493963;
}
#dragon {
    background-color: #7038F8;
    border-color: #4924A1;
}
#dark {
    background-color: #705848;
    border-color: #49392F;
}
#steel {
    background-color: #B8B8D0;
    border-color: #787887;
}
#fairy {
    background-color: #EE99AC;
    border-color: #9B6470;
}

#pokemon_image {
    left:0;
    width:100%;
    height:100%;
    background:url(UI_images/holder.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#pokemon_image_div{
    margin-top:auto;
    margin-bottom: auto;
    margin-left: 5%;
    margin-right: 5%;
}

#encloseImage{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #082F3D; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0a3c4e 0%, #082F3D 100%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg,  #0a3c4e 0%,#082F3D 100%);
    background: linear-gradient(135deg,  #0a3c4e 0%,#082F3D 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 0.5vmin;
    margin-right:0.5%;
    overflow: hidden;
    text-align: center;
    width: 20vw;
    min-width: 20vw;
}
#typesDiv{
    border-radius: 0.5vmin;
    background-color: #0b4054; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg,  #0b4054 0%,#0a3c4e 100%);
    background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin-left:0.5%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    align-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    width: 20vw;
    min-width: 20vw;
}
#wrapperType {
    border-radius: 0.5vmin;
    width: 25vh;
    max-width: 25vh;
    margin-left:auto;
    margin-right:auto;
    display: inline-block;
    position: relative;

}
#wrapperType:after {
    padding-top: 100%;
    /* 16:9 ratio */
    display: block;
    content: '';
}
#radar
{
    display: inline-block;
    width: 48%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 0.5vmin;
}
#wrapType
{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: block;
    box-sizing: border-box;
    padding: 1vw;
    margin-left:auto;
    margin-right:auto;
}
#stats_progression
{
    display: inline-block;
    width: 48%;
    max-height:100%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 0.5vmin;
}

#stats_div {
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
    border-radius: 0.5vmin;
    background-color: #0b4054; /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: -webkit-linear-gradient(315deg,  #0b4054 0%,#0a3c4e 100%);
    background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin-left:1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 45vw;
    min-width: 45vw;
}
#typesZing{
    border-radius: 0.5vmin;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#typesTitle
{
    box-sizing:border-box;
    text-align: center;
    width:100%;
    min-height:10%;
    background-color: #082F3D;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    border-radius: 0.5vmin 0.5vmin 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:0;
    -ms-flex:0;
    flex:0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-height:10%;
    color: #fff;
    padding: 3% 3% 3% 3%;
}
#progression
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height:33.333333333%;
    width: 96%;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left:auto;
    margin-right:auto;
}
.item {
    -ms-flex-preferred-size: auto;
    flex-basis: auto; /* default auto */
}
#clip_stats > div
{
    margin: 0%;
}
#clip_stats{
    border-radius: 0.5vh;
    overflow: hidden;
    height:inherit;
    width: 100%;
    max-height:100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.vert_slider
{
    text-align: center;
    box-sizing:border-box;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    max-height:100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height:inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.statHeader
{
    color: #FFF;
    padding: 0;
    text-align: center;
    min-height: 20%;
    max-height:20%;
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    font-size: 16px;
    font-size: 1.25vmin;
    width:100%;
}

#nature_div
{
    -webkit-box-flex:2;
    -ms-flex:2;
    flex:2;
    width:inherit;
    max-height:100%;
    height:inherit;
    display: inline-block;
}
#nature
{
    display: inline-block;
    height:inherit;
    max-height:80%;
    width:100%;
    color: #FFF;
    font-size: 16px;
    font-size: 1.25vmin;
    border-style: none;
    background-color: #116381;
}
#nature > option
{
    padding-left: 5%;
    max-height:5%;
}
#nature_header
{
    text-align: center;
    height: 20%;
    width:100%;
    max-height:20%;
    color: #FFF;
    font-size: 16px;
    font-size: 1.25vmin;
    background-color: #082F3D;
}
#HP_header
{
    background-color: #b20000;
}
#attack_header
{
    background-color: #d8732b;
}
#defense_header
{
    background-color: #dfbb2b;
}
#s_attack_header
{
    background-color: #6890F0;
}
#s_defense_header
{
    background-color: #78C850;
}
#speed_header
{
    background-color: #F85888;
}
#HP_div
{
    background-color: #ff9999;
}
#attack_div
{
    background-color: #f6b282;
}
#defense_div
{
    background-color: #efdd95;
}
#s_attack_div
{
    background-color: #b3c7f7;
}
#s_defense_div
{
    background-color: #bbe3a7;
}
#speed_div
{
    background-color: #fbabc3;
}
select:focus {
    outline:none;
}
input[type=range][orient=vertical]
{
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-writing-mode: bt-lr;
    -ms-writing-mode: bt-lr;
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
}
#stats_zing {
    margin-top: 1%;
    margin-bottom: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    width:100%;
    height:66.6666666%;
    -webkit-box-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

#info {
    text-align: center;
    -webkit-box-flex:0;
    -ms-flex:0;
    flex:0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    padding-bottom: 1%;
    color: #FFF;
}
#info > p {
    margin: 1vh auto 0 auto;
    padding:0;
    width:65%;
}
a {
    color: #FFF;
}
#typesText
{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex:0;
    -ms-flex:0;
    flex:0;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    color: #fff;
    padding: 0% 3% 3% 3%;
    overflow: scroll;
    font-size: 12px;
    font-size: 1.25vmin;
}

#contribute
{
    font-size: 12px;
    font-size: 1.25vmin;
}