body
{
    font-family: 'Exo 2', sans-serif;
    background-color: #04171E;
}

#TOP {
    background-color: transparent;
    width: 100%;
    height: 50%;
    position: absolute;
    text-align: center;
    left:0;
    top:0;
    vertical-align: middle;
}
#FOOTER {
    background-color: transparent;
    width: 100%;
    text-align: center;
    height: 50%;
    position: absolute;
    left:0;
    bottom:0;
}
#SHAPESDIV
{
    margin-top: 5%;
    height: 100%;
    width: 100%;
    align-self: center;

}
#CHARTDIV
{
    height: 100%;
}

#MAP {
    background-color: #167ca2;
    display: inline-block;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: middle;
    width: 35%;
    border-radius: 0.5vmin;
    overflow: hidden;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 97%;
}

#CHART {
    overflow: hidden;
    background-color: #167ca2;
    display: inline-block;
    margin-right: 1%;
    margin-left: 1%;
    vertical-align: middle;
    border-radius: 0.5vmin;
    width: 61%;
    margin-top: 2%;
    margin-bottom: 1%;
    height: 97%;
}
.alignMiddle {
    display: flex;
    align-items: center;

    height: 100%;
}

.topVisualizations {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#116381+0,005d7f+100 */
    background: #116381; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #116381 0%, #005d7f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #116381 0%,#005d7f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #116381 0%,#005d7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
#bottomElts {
    display: inline-block;;
    width: 98%;
    border-radius: 0.5vmin;
    height: 90%;
    text-align: left;
    overflow: hidden;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#116381+0,005d7f+100 */
    background: #116381; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #116381 0%, #005d7f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #116381 0%,#005d7f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #116381 0%,#005d7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 2%;
    margin-bottom: 1%;
}
#selectDataVisualizationPreferences
{
    text-align: left;
    height:14%;
    width:100%;
    background-color: #0B4153;
    display: flex;
    align-items: center;
    padding: 1%;
    color: #fff;
    padding-left: 2%;
}

#pseudoTable {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 78%;
    width: 100%;
}

#selectDataVisualizationPreferencesHeader
{
    padding: 1%;
    height:4%;
    width:100%;
    background-color: #082F3D;
    color: #fff;
}

.checkboxLabel {
    display: inline-block;
}
p {
    margin: 0;
}
.textHeader
{
    margin:0;
}
#mapForm {
    display: inline-block;
}

.largerLabel {
    display: inline-block;
}

#loading {
    z-index: 10;
    width: 5%;
    position: absolute;
    margin:7%;
    padding:0.5%;
    bottom : 0;
    left:40%;
    background-color: #082F3D;
    opacity: 0.3;
    border-radius: 50%;
    visibility: hidden;
}

select{
    background-color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
    width: fit-content;
}

select:disabled {
    opacity: 0.5;
}

input[type=checkbox]:not(old){
    width     : 2em;
    margin    : 0;
    padding   : 0;
    font-size : 1em;
    opacity   : 0;
}
input[type=checkbox]:not(old) + label{
    display      : inline-block;
    margin-left  : -2em;
    line-height  : 1.5em;
}

input[type=checkbox]:not(old) + label > span {
    display          : inline-block;
    width            : 0.875em;
    height           : 0.875em;
    margin           : 0.25em 0.5em 0.25em 0.25em;
    border           : 0.0625em solid #B6CBD2;
    border-radius    : 0.25em;
    background       : #B6CBD2;
    background-image :    -moz-linear-gradient(#fff,#B6CBD2);
    background-image :     -ms-linear-gradient(#fff,#B6CBD2);
    background-image :      -o-linear-gradient(#fff,#B6CBD2);
    background-image : -webkit-linear-gradient(#fff,#B6CBD2);
    background-image :         linear-gradient(#fff,#B6CBD2);
    vertical-align   : bottom;
}
input[type=checkbox]:not(old):checked + label > span:before{
    content     : '✓';
    display     : block;
    width       : 1em;
    color       : #1786AE;
    font-size   : 0.875em;
    line-height : 1em;
    text-align  : center;
    text-shadow : 0 0 0.0714em #082F3D;
    font-weight : bold;
}
input[type=checkbox]:not(old):checked + label > span{
    background-image :    -moz-linear-gradient(#B6CBD2,#fff);
    background-image :     -ms-linear-gradient(#B6CBD2,#fff);
    background-image :      -o-linear-gradient(#B6CBD2,#fff);
    background-image : -webkit-linear-gradient(#B6CBD2,#fff);
    background-image :         linear-gradient(#B6CBD2,#fff);
}
input[type=checkbox]:not(old):disabled + label{
    opacity: 0.5;
}

#pokemon_header {
    text-align: left;
    height:10%;
    width:100%;
    background-color: #0B4153;
    display: flex;
    align-items: center;
    color: #fff;
    margin: 0;
    border-radius: 0.5vmin 0.5vmin 0 0;
}

#center_pokemon_image {
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;
}

#pokemon_header > p {
    padding: 0;
    padding-left: 5px;
    vertical-align: middle;
}
#pokemon_header_types {
    margin-left: 0.75%;
    display: inline-block;
    width:50%;
}

.types {
    display: inline-block;
    border-width: 1px;
    border: solid;
    border-radius: 15px;
    width: fit-content;
    padding: 3px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 0.75%;
}
#normal {
    background-color: #A8A878;
    border-color: #C6C6A7;
}
#fire {
    background-color: #F08030;
    border-color: #9C531F;
}
#water {
    background-color: #6890F0;
    border-color: #445E9C;
}
#electric {
    background-color: #F8D030;
    border-color: #A1871F;
}
#grass {
    background-color: #78C850;
    border-color: #4E8234;
}
#ice {
    background-color: #98D8D8;
    border-color: #638D8D;
}
#fighting {
    background-color: #C03028;
    border-color: #7D1F1A;
}
#poison {
    background-color: #A040A0;
    border-color: #682A68;
}
#ground {
    background-color: #E0C068;
    border-color: #927D44;
}
#flying {
    background-color: #A890F0;
    border-color: #6D5E9C;
}
#psychic {
    background-color: #F85888;
    border-color: #A13959;
}
#bug {
    background-color: #A8B820;
    border-color: #6D7815;
}
#rock {
    background-color: #B8A038;
    border-color: #786824;
}
#ghost {
    background-color: #705898;
    border-color: #493963;
}
#dragon {
    background-color: #7038F8;
    border-color: #4924A1;
}
#dark {
    background-color: #705848;
    border-color: #49392F;
}
#steel {
    background-color: #B8B8D0;
    border-color: #787887;
}
#fairy {
    background-color: #EE99AC;
    border-color: #9B6470;
}

#pokemon_image{
    height:90%;
    left:0;
    background:url(holder.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#encloseImage{
    display: block;
    background-color: #082F3D;
    border-radius: 0.5vmin;
    margin-left:2%;
    height: 80%;
}

#secondary_div {
    background-color: #0B4153;
    border-radius: 0.5vmin;
    margin-left:2%;
    margin-right:2%;
    overflow: visible;
    height: 80%;
    width:94%;
}

#radar{
    vertical-align: center;
    overflow: visible;
    height: 94%;
    width: 48%;
    margin-right:2%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}

#chord{
    vertical-align: center;
    overflow: visible;
    height: 94%;
    width: 48%;
    display: inline-block;
    margin-top: 1%;
    margin-bottom: 1%;
}