body
{
    font-family: 'Exo 2', sans-serif;
    background-color: #04171E;
}

#page_flex {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
}

#TOP {
    background-color: transparent;
    flex: 1;
    box-sizing:border-box;
    text-align: center;
    vertical-align: middle;
    display: flex;
}
.topVisualizations{
    background: #116381; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #116381 0%, #005d7f 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #116381 0%,#005d7f 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #116381 0%,#005d7f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#MAP {
    flex: 1;
    display: inline-block;
    vertical-align: middle;
    width: 35%;
    border-radius: 0.5vmin;
    overflow: hidden;
    box-sizing:border-box;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: inherit;
}
#selectDataVisualizationPreferences
{
    text-align: left;
    height:16%;
    width:98%;
    display: flex;
    align-items: center;
    color: #fff;
    padding-left: 2%;
}
#selectDataVisualizationPreferencesHeader
{
    display: flex;
    align-items: center;
    height:10%;
    text-align: center;
    width:100%;
    color: #fff;
}
.textHeader
{
    margin-left:auto;
    display: inline-block;
    font-size: 25px;
}
.largerLabel {
    display: inline-block;
    margin-right: 4px;
}
#alignMapCenter{
    display: flex;
    align-items: center;
    height:74%;
}
#wrapMap
{
    margin: 1%;
    width:100%;
}
#wrapper {
    border-radius: 0.5vmin;
    background: -moz-linear-gradient(-45deg,  #0b4054 0%, #0a3c4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    width: 100%;
    max-height: 35.89vh;
    max-width: 53.835vh;
    /* whatever width you want */
    display: inline-block;
    position: relative;
}
#wrapper:after {
    padding-top: 66.6666666667%;
    /* 16:9 ratio */
    display: block;
    content: '';
}
#SHAPESDIV {
    border-radius: 0.5vmin;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
#CHART {
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    border-radius: 0.5vmin;
    flex:2;
    margin-left: inherit;
}
p {
    margin: 0;
}


#loading {
    z-index: 10;
    width: 5%;
    position: absolute;
    margin:7%;
    padding:0.5%;
    bottom : 0;
    left:40%;
    background-color: #082F3D;
    opacity: 0.3;
    border-radius: 50%;
    visibility: hidden;
}

select{
    background-color: #fff;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}

select:disabled {
    opacity: 0.5;
}

#select_Region{
    color: #fff;
    font-weight: 400;
    font-size: 25px;
    padding: 0;
    background-color: transparent;
    margin: 0;
    border-style: none;
    width:auto;
    margin-right: auto;
}

#select_Region:focus {
    outline:none;
}
#FOOTER {
    background-color: transparent;
    flex: 1;
    box-sizing:border-box;
    text-align: center;
    vertical-align: middle;
    display: flex;
}





/*.alignMiddle {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*height: 100%;*/
/*}*/
/*#bottomElts {*/
    /*display: inline-block;;*/
    /*width: 98%;*/
    /*border-radius: 0.5vmin;*/
    /*height: 90%;*/
    /*text-align: left;*/
    /*overflow: hidden;*/
    /*!* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#116381+0,005d7f+100 *!*/
    /*background: #116381; !* Old browsers *!*/
    /*background: -moz-linear-gradient(-45deg,  #116381 0%, #005d7f 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg,  #116381 0%,#005d7f 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #116381 0%,#005d7f 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    /*margin-left: 1%;*/
    /*margin-right: 1%;*/
    /*margin-top: 2%;*/
    /*margin-bottom: 1%;*/
/*}*/




/*#pokemon_header {*/
    /*text-align: left;*/
    /*height:10%;*/
    /*width:100%;*/
    /*background-color: #0B4153;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*color: #fff;*/
    /*margin: 0;*/
    /*border-radius: 0.5vmin 0.5vmin 0 0;*/
/*}*/

/*#center_pokemon_image {*/
    /*display: flex;*/
    /*align-items: center;*/
    /*height: 100%;*/
    /*width:100%;*/
    /*box-sizing:border-box;*/
    /*padding-top: 1vw;*/
    /*padding-bottom: 1vw;*/
    /*padding-left: 1vw;*/
    /*padding-right: 1vw;*/
/*}*/

/*#pokemon_header > p {*/
    /*padding: 0;*/
    /*padding-left: 5px;*/
    /*display: inline-block;*/
    /*vertical-align: middle;*/
/*}*/
/*#pokemon_header_types {*/
    /*margin-left: 3%;*/
    /*display: inline-block;*/
    /*width:100%;*/
/*}*/

/*.types {*/
    /*display: inline-block;*/
    /*border-width: 1px;*/
    /*border: solid;*/
    /*border-radius: 15px;*/
    /*width: fit-content;*/
    /*padding: 2px;*/
    /*height: 100%;*/
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    /*margin-left: 0.75%;*/
/*}*/
/*#normal {*/
    /*background-color: #A8A878;*/
    /*border-color: #C6C6A7;*/
/*}*/
/*#fire {*/
    /*background-color: #F08030;*/
    /*border-color: #9C531F;*/
/*}*/
/*#water {*/
    /*background-color: #6890F0;*/
    /*border-color: #445E9C;*/
/*}*/
/*#electric {*/
    /*background-color: #F8D030;*/
    /*border-color: #A1871F;*/
/*}*/
/*#grass {*/
    /*background-color: #78C850;*/
    /*border-color: #4E8234;*/
/*}*/
/*#ice {*/
    /*background-color: #98D8D8;*/
    /*border-color: #638D8D;*/
/*}*/
/*#fighting {*/
    /*background-color: #C03028;*/
    /*border-color: #7D1F1A;*/
/*}*/
/*#poison {*/
    /*background-color: #A040A0;*/
    /*border-color: #682A68;*/
/*}*/
/*#ground {*/
    /*background-color: #E0C068;*/
    /*border-color: #927D44;*/
/*}*/
/*#flying {*/
    /*background-color: #A890F0;*/
    /*border-color: #6D5E9C;*/
/*}*/
/*#psychic {*/
    /*background-color: #F85888;*/
    /*border-color: #A13959;*/
/*}*/
/*#bug {*/
    /*background-color: #A8B820;*/
    /*border-color: #6D7815;*/
/*}*/
/*#rock {*/
    /*background-color: #B8A038;*/
    /*border-color: #786824;*/
/*}*/
/*#ghost {*/
    /*background-color: #705898;*/
    /*border-color: #493963;*/
/*}*/
/*#dragon {*/
    /*background-color: #7038F8;*/
    /*border-color: #4924A1;*/
/*}*/
/*#dark {*/
    /*background-color: #705848;*/
    /*border-color: #49392F;*/
/*}*/
/*#steel {*/
    /*background-color: #B8B8D0;*/
    /*border-color: #787887;*/
/*}*/
/*#fairy {*/
    /*background-color: #EE99AC;*/
    /*border-color: #9B6470;*/
/*}*/

/*#pokemon_image{*/
    /*max-width:80%;*/
    /*margin: 5%;*/
    /*left:0;*/
    /*background:url(UI_images/holder.svg);*/
    /*background-size: 100% 100%;*/
    /*background-repeat: no-repeat;*/
/*}*/

/*#encloseImage{*/
    /*display: flex;*/
    /*flex: 1;*/
    /*background-color: #082F3D;*/
    /*background: -moz-linear-gradient(-45deg,  #0a3c4e 0%, #082F3D 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #0a3c4e 0%, #082F3D 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #0a3c4e 0%,#082F3D 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    /*border-radius: 0.5vmin;*/
    /*margin-right:1vw;*/
    /*overflow: hidden;*/
    /*height: 100%;*/
    /*text-align: center;*/
    /*width: 25vw;*/
/*}*/
/*#cord_div{*/
    /*border-radius: 0.5vmin;*/
    /*background-color: #0b4054;*/
    /*background: -moz-linear-gradient(-45deg,  #0b4054 0%, #0a3c4e 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    /*margin-left:1vw;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction:column;*/
    /*justify-content: center;*/
    /*flex: 1;*/
/*}*/
/*#wrapperType {*/
    /*border-radius: 0.5vmin;*/
    /*background: -moz-linear-gradient(-45deg,  #0b4054 0%, #0a3c4e 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    /*width: 100%;*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*display: inline-block;*/
    /*position: relative;*/

/*}*/
/*#wrapperType:after {*/
    /*padding-top: 100%;*/
    /*!* 16:9 ratio *!*/
    /*display: block;*/
    /*content: '';*/
/*}*/
/*#wrapRadar*/
/*{*/
    /*display: inline-block;*/
    /*width: 48%;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
/*}*/
/*#wrapperRadar {*/
    /*border-radius: 0.5vmin;*/
    /*background: -moz-linear-gradient(-45deg,  #0b4054 0%, #0a3c4e 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    /*width: 100%;*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    /*display: inline-block;*/
    /*position: relative;*/

/*}*/
/*#wrapperRadar:after {*/
    /*padding-top: 100%;*/
    /*!* 16:9 ratio *!*/
    /*display: block;*/
    /*content: '';*/
/*}*/
/*#wrapStats*/
/*{*/
    /*display: inline-block;*/
    /*width: 48%;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
/*}*/
/*#wrapperStats {*/
    /*border-radius: 0.5vmin;*/
    /*background: -moz-linear-gradient(-45deg,  #0b4054 0%, #0a3c4e 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    /*width: 100%;*/
    /*max-height: 100%;*/
    /*max-width: 100%;*/
    /*display: inline-block;*/
    /*position: relative;*/

/*}*/
/*#wrapperStats:after {*/
    /*padding-top: 100%;*/
    /*!* 16:9 ratio *!*/
    /*display: block;*/
    /*content: '';*/
/*}*/

/*#stats_div {*/
    /*flex: 3;*/
    /*border-radius: 0.5vmin;*/
    /*background-color: #0b4054;*/
    /*background: -moz-linear-gradient(-45deg,  #0b4054 0%, #0a3c4e 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(-45deg, #0b4054 0%, #0a3c4e 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(135deg,  #0b4054 0%,#0a3c4e 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#116381', endColorstr='#005d7f',GradientType=1 ); !* IE6-9 fallback on horizontal gradient *!*/
    /*margin-left:1vw;*/
    /*height: 100%;*/
    /*display: flex;*/
    /*flex-direction:column;*/
    /*justify-content: center;*/
/*}*/
/*#radar{*/
    /*border-radius: 0.5vmin;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*!*flex: 0;*!*/
    /*!*flex-basis: auto;*!*/
    /*!*overflow: visible;*!*/
    /*!*height: 100%;*!*/
    /*!*margin-left:2vh;*!*/
    /*!*margin-right:1vh;*!*/
    /*!*display: inline-block;*!*/
    /*!*width: 34vh;*!*/
/*}*/
/*#chord{*/
    /*border-radius: 0.5vmin;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*!*vertical-align: center;*!*/
    /*!*overflow: visible;*!*/
    /*!*height: 100%;*!*/
    /*!*margin-left:auto;*!*/
    /*!*margin-right:auto;*!*/
    /*!*width: 34vh;*!*/
    /*!*display:block;*!*/
/*}*/
/*#typesTitle*/
/*{*/
    /*height:fit-content;*/
    /*text-align: center;*/
    /*color: #FFF;*/
    /*display: block;*/
    /*width: 100%;*/
    /*font-weight: 600;*/
    /*padding-top:3vh;*/
/*}*/
/*#stats_progression {*/
    /*border-radius: 0.5vmin;*/
    /*width: inherit;*/
    /*height: inherit;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*bottom: 0;*/
    /*right: 0;*/
    /*left: 0;*/
    /*!*height:70%;*!*/
/*}*/
/*#progression*/
/*{*/
    /*display: flex;*/
    /*flex: 1;*/
    /*width: 96%;*/
    /*margin-top: 1%;*/
    /*margin-bottom: 1%;*/
    /*margin-left:auto;*/
    /*margin-right:auto;*/
    /*.item {*/
        /*flex-basis: auto; !* default auto *!*/
    /*}*/
/*}*/
/*#adjustIV_div{*/
    /*box-sizing:border-box;*/
    /*height:100%;*/
    /*width:100%;*/
/*}*/
/*#clip_stats > div*/
/*{*/
    /*margin: 0%;*/
/*}*/
/*#clip_stats{*/
    /*border-radius: 0.5vh;*/
    /*overflow: hidden;*/
    /*height:100%;*/
    /*width: 100%;*/
 /*}*/
/*.vert_slider*/
/*{*/
    /*text-align: center;*/
    /*box-sizing:border-box;*/
    /*width:12.5%;*/
    /*height: 100%;*/
    /*display: inline-block;*/
/*}*/
/*.statHeader*/
/*{*/
    /*color: #FFF;*/
    /*padding: 0;*/
    /*text-align: center;*/
    /*height: 20%;*/
    /*font-size: 15px;*/
    /*width:100%;*/
/*}*/

/*#nature_div*/
/*{*/
    /*width: 25%;*/
    /*height:100%;*/
    /*display: inline-block;*/
/*}*/
/*#nature*/
/*{*/
    /*display: inline-block;*/
    /*overflow: scroll;*/
    /*height:80%;*/
    /*width:100%;*/
    /*color: #FFF;*/
    /*font-size: 15px;*/
    /*border-style: none;*/
    /*background-color: #116381;*/
/*}*/
/*#nature > option*/
/*{*/
    /*padding-left: 5%;*/
/*}*/
/*#nature_header*/
/*{*/
    /*text-align: center;*/
    /*height: 20%;*/
    /*width:100%;*/
    /*color: #FFF;*/
    /*font-size: 15px;*/
    /*background-color: #082F3D;*/
/*}*/
/*#HP_header*/
/*{*/
     /*background-color: #b20000;*/
/*}*/
/*#attack_header*/
/*{*/
    /*background-color: #d8732b;*/
/*}*/
/*#defense_header*/
/*{*/
    /*background-color: #dfbb2b;*/
/*}*/
/*#s_attack_header*/
/*{*/
    /*background-color: #6890F0;*/
/*}*/
/*#s_defense_header*/
/*{*/
    /*background-color: #78C850;*/
/*}*/
/*#speed_header*/
/*{*/
    /*background-color: #F85888;*/
/*}*/
/*#HP_div*/
/*{*/
    /*background-color: #ff9999;*/
/*}*/
/*#attack_div*/
/*{*/
    /*background-color: #f6b282;*/
/*}*/
/*#defense_div*/
/*{*/
    /*background-color: #efdd95;*/
/*}*/
/*#s_attack_div*/
/*{*/
    /*background-color: #b3c7f7;*/
/*}*/
/*#s_defense_div*/
/*{*/
    /*background-color: #bbe3a7;*/
/*}*/
/*#speed_div*/
/*{*/
    /*background-color: #fbabc3;*/
/*}*/
/*select:focus {*/
    /*outline:none;*/
/*}*/
/*input[type=range][orient=vertical]*/
 /*{*/
     /*writing-mode: bt-lr; !* IE *!*/
     /*-webkit-appearance: slider-vertical; !* WebKit *!*/
     /*width: 8px;*/
     /*height: 76%;*/
     /*padding: 0 5px;*/
 /*}*/
/*#stats_zing {*/
    /*margin-top: 1%;*/
    /*margin-bottom: 1%;*/
    /*display: flex;*/
    /*height: fit-content;*/
    /*width:100%;*/
    /*flex: 2;*/
/*}*/